body {
  background-color: #FAC55A;
  }
  
  li {
      padding: 5px;
      margin: 5px;
      background: whitesmoke;
  }

    #devoured{
      background: rgb(110, 110, 110);
    }
    
    .label {
      font-weight: bold;
    }
    
    .create-update-form {
      padding: 5px;
      margin: 5px;
      background: aqua;
    }
    
    .form-group {
      margin-bottom: 5px;
    }
    
    #inputTitle {
        color: red
    }